<!DOCTYPE html>
<html>
  <head>
    <%= partial 'partials/head' %>
  </head>
  <body>
    <%= partial 'partials/mobilenav' %>
    <%= partial 'partials/widenav', :locals => { nav_class: "sub" } %>

    <main class="container">
      <div class="row">
        <div class="column column-75 main-content">
          <%= yield %>
        </div>
      </div>
    </main>

    <%= partial 'partials/footer' %>
  </body>
  <%= javascript_include_tag :site %>
</html>
