<!DOCTYPE html>
<html>
  <head>
    <%= partial 'partials/head' %>
  </head>
  <body>
    <% if current_page.url == '/' %>
    <%= partial 'partials/header' %>
    <% end %>

    <%= partial 'partials/mobilenav' %>
    <% nav_class = current_page.url != '/' ? 'sub' : '' %>
    <%= partial 'partials/widenav', :locals => { nav_class: nav_class } %>


    <%= yield %>

    <%= partial 'partials/footer' %>
  </body>
  <%= javascript_include_tag :site %>
</html>
