<!DOCTYPE html>
<html>
  <head>
    <%= partial 'partials/head' %>
  </head>
  <body>
    <%= partial 'partials/mobilenav' %>
    <%= partial 'partials/widenav', :locals => { nav_class: "sub" } %>

    <main class="container">
      <div class="row">
        <aside class="column">
          <ul class="read-more">
            <li><a href="#overview">1. Overview</a></li>
            <li><a href="#security-server-installation">2. Security Server Installation</a></li>
            <li><a href="#documents-and-links">3. Documentation and links</a></li>
          </ul>
        </aside>
        <div class="column column-75 main-content">
          <%= yield %>
        </div>
      </div>
    </main>

    <%= partial 'partials/footer' %>
  </body>
  <%= javascript_include_tag :site %>
</html>
