<main>
  <div class="container">
    <h1 class="center">Events</h1>
    <div class="row">
      <% sub_pages('event')[0..5].each do |article| %>
      <div class="column">
        <div onclick="document.location.href=&quot;<%= article.url %>&quot;" class="card">
          <div class="card-header"><b><%= article.data.date %></b><small><%= article.data.location %></small></div>
          <div class="card-content">
            <p><%= article.data.title %></p><%= image_tag article.data.image %>
          </div>
        </div>
      </div>
      <% end %>
      <div class="column">
      </div>
      <div class="column">
      </div>
    </div>
  </div>
</main>
