<main>
  <div class="container">
    <h1 class="center">Modules</h1>
    <div class="center submit-module"><a class="button">Submit your own module</a>
      <div class="submit-form">
        <h5>Submitting module</h5>
        <p class="small">Enter your contact details and we will contact you with the required info for uploading your Component to the X-Road components.</p>
        <form>
          <input type="text" placeholder="Name">
          <input type="text" placeholder="Email">
          <button type="submit" value="Send" class="button">Send</button>
        </form>
      </div>
    </div>
    <div class="row">
    <% data.modules.each_with_index do |component, index| %>
      <% if index % (data.modules.size / 2.to_f).round == 0 %>
      <div class="column">
      <% end %>
        <div onclick="document.location.href=&quot;/module/<%= index %>.html&quot;" class="module">
          <div class="module-icon">
            <svg width="80" height="80" data-jdenticon-hash="6a80768be70cbf6e5688fcf11e70fb70">icon here</svg>
          </div>
          <div class="module-content"><b><%= component.name %></b>
            <p><%= component.description %></p><small><%= component.developer %></small><br/><small><%= component.technology %></small>
          </div>
        </div>
      <% if index == (data.modules.size / 2.to_f).round - 1 || index == data.modules.size %>
      </div>
      <% end %>
    <% end %>
    </div> <!-- end row -->
  </div>
</main>
